<div class="row dashboard">

  <div class="col-md-offset-2 col-md-3">
    <a href="/users/admin/allusers">
      <img src="http://blogs.scientificamerican.com/media/inline/blog/Image/melamine-milk-powder-china-.jpg" alt="baby drinking milk" />
      <h3 class="text-center">Users</h3>
    </a>
  </div>

  <div class="col-md-offset-2 col-md-3">
    <a href="/users/admin/alllistings">
      <img src="http://weeklysauce.com/wp-content/uploads/2011/07/baby-bottle-iStock.jpg" alt="bottles of milk" />
      <h3 class="text-center">Listings</h3>
    </a>
  </div>

</div>
