<div class="col-md-6">
  <div class="adminUserView">
    <img src="http://blogs.scientificamerican.com/media/inline/blog/Image/melamine-milk-powder-china-.jpg" alt="baby drinking milk" />
  <a href="/users/admin/all">Users</a>
  </div>
</div>

<div class="col-md-6">
  <div class="adminListingView">
    <img src="http://weeklysauce.com/wp-content/uploads/2011/07/baby-bottle-iStock.jpg" alt="bottles of milk" />
    <a href="/users/admin/listings">Listings</a>
  </div>
</div>
