<h1 class="text-center">FAQ</h1></h1>

<br><br>
<strong>Why Milk Drop?</strong>
<br><br>

Ultimately the safest place to pick up extra breat milk for your child is at a <a href="https://www.hmbana.org/">milk bank</a>. However, milk banks are not always due to location or financial factors. With Milk Drop you can find a provider offering milk from zero to four dollars an ounce, meet them face to face, and know who is providing you your milk. <br><br>

<strong>How does Milk Drop work?</strong>
<br><br>

Milk Drop allows providers and requesters to give and find extra milk locally and with ease. When a user creates her profile she has access to creating posts offering extra milk or requesting milk depending on her need. Plus, there's no need to constantly email providers to see if an offer is still available. Milk Drop quickly removes any approved requests from our listings.
<br><br>

<strong>Is Milk Drop Safe?</strong>
<br><br>

Safety is very much a concern at Milk Drop. Unfortunately, we are unable to verify the safety of the milk ultimately being offered. However, like any off the books transaction, there are actions that one can take to avoid problems as much as possible.
<br>
<ul>
  <li>Meet in person.</li>
  <li>Don't exchange financial information.</li>
  <li>Meet in a public place such as a planned parenthood, hospital, or grocery store.</li>
  <li>Upon receipt pasteurize all milk yourself (for further info on pasteurization).</li>
</ul>
<br><br>

<strong>How do I report harrassment?</strong>
<br><br>

Milk Drop takes harrassment very seriously. Our administrators have been give full authority to remove any users or posts that are deemed inappropriate. However, we are a small staff and cannot catch everything. At the moment, the best way to report a post or user is by reaching out to us through our email (<a href="mailto:milkdrop.app@gmail.com">milkdrop.app@gmail.com</a>).
<br><br>

<strong>How can I produce more milk?</strong>
<br><br>

We encourage mothers to try different methods to encourage milk production before using Milk Drop. We've provided some resources on <a href="/massage">massage technigues</a>. There are also 
<br><br>
