<div class="row">
  <div class="col-md-12">
    <h1 class='text-center'>Breast Massage</h1>
    <h3 class='text-center'>Why it increases milk supply and is important</h3><br>
      <p>Massaging your breasts will clear the milk ducts and cause the milk to flow more freely, which will help empty the breasts and therefore trigger a higher milk production. Breast massage is not just for those mothers wanting to increase their milk supply. It is also an important area of breast health that is neglected due to the image that society has created about 'touching yourself'. Your breasts do not get exercise or stimulation, and as a result you will have a fluid buildup, which can lead to breast problems.</p>
      <br>
      <div class="col-md-6">
        <h2 class='text-center'>Benefits of messaging</h2>
        <ul>
          <li>An increase in blood circulation in the breast</li>
          <li>You can decrease the symptoms of menstrual cramps</li>
          <li>Help with pain surgery</li>
          <li>Reduce comfort during pregnancy</li>
          <li>Improve your skin tone</li>
          <li>Increase milk production</li>
          <li>It can help for relief of engorgement</li>
          <li>Can unblock plugged milk glands</li>
          <li>Can help in relaxation</li>
          <li>Toning the muscles in your breast</li>
          <li>Breast firmness and increase overall attractiveness</li>
          <li>Helps drainage during breastfeeding</li>
          <li>Breast cancer prevention</li>
          <li>Lymphatic drainage is improved, which can actually prevent cancer by removing unwanted toxins</li>
          <li>Self examination can help with awareness of lumps or bumps</li>
          <li>Decrease apprearance of scars and stretch marks</li>
          <li>Can stimulate breast growth</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class='text-center'>Breast massage tips</h2>
        <ul>
          <li>The best massage technique: First start pumping the lymph glands in your armpits. This lymphatic massage will get the blood and toxins flowing.</li>
          <li>Use lotion while massaging. If breastfeeding, use a natural lotion. Coconut and olive oil is both natural and safe to use.</li>
          <li>Gentle rubbing and/or squeezing is enough to get the blood flowing. Do not press too hard, it may cause damage to the glandular tissue. The rule of thumb is for it to not be painful.</li>
          <li>When you feel your breasts warming up, its a good sign. This indicates that the bood flow as increased. </li>
          <li>These massages should be done daily.</li>
          <li>You can massage your breasts everytime you take a bath and you can use soap as the lubricant. This way you wont forget and can be more relaxed during a massage.</li>
        </ul>
      </div>
  </div>
</div>
<br><br>
<h4 class='text-center'>For more information, please visit <a href="http://www.breastfeeding-problems.com/breast-massage.html">Breast Feeding</a></h4>
