<h1>{{title}}</h1>

<div class="row posting">
  <div class="col-md-12">
    <form action="/users/addposting" method="post">
      <div class="form-group">
        <p>
          {{#if success}}
            {{success}}
          {{/if}}
        </p>
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="expiration_date">Posting Expiration Date</label>
        <input type="date" class="form-control" id="expiration_date" name="expiration_date" placeholder="Expiration Date">
      </div>
      <div class="form-group">
        <label for="amount">Number of Ounces Available</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="0">
      </div>
      <div class="form-group">
        <label for="cost_per_ounce">Cost Per Ounce</label>
        <input type="number" class="form-control" id="cost_per_ounce" name="cost_per_ounce" placeholder="0">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" id="description" name="description"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Add Posting</button>
    </form>
  </div>
</div>
