

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="row">
      <form class="" action="index.html" method="post">
        <div class="col-md-4">
          <label for="title">Title
        <br />
            <input type="text" name="title" value="">
          </label>

          <label for="post_end">End of date
        <br />
            <input type="text" name="post_end" value="">
          </label>

          <label for="amount">Amount of milk (in ounces)
        <br />
            <input type="number" name="amount" value="">
          </label>

          <label for="cost_per_ounce">Cost per ounce
        <br />
            <input type="number" name="cost" value="">
          </label>

      <br />
      <br />
      </div>

      <div class="col-md-8">
      <textarea name="description" rows="10" cols="80"></textarea>
      <br />
      <button type="submit" name="button" class="btn-primary">Submit Post</button>
      </div>
    </form>

    </div>
  </div>
</div>
