<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h1 class="text-center">Home Pasteurization</h1>
      <p>There are two methods of pasteurization that are safely and easily done at home: Low Temperature Long Time (LTLT) like the Holder method and Pretoria Heating, and High Temperature Short Time (HTST) like flash heating.
        <br>
        <br> Holder pasteurization is the method used by most US milk banks. It can be performed in the home using a marketed single bottle pasteurizer. Pretoria Heating is done on the stove top, and is used in resource-poor areas for HIV positive mothers.
        These methods have been demonstrated to kill a wide variety of viruses and bacteria. However, they also have been shown to denature the milk of much of its nutritive properties, many of which may be especially beneficial for premature infants.
        <br>
        <br> Flash heating, not to be confused with commercial flash pasteurization, was also developed for use in resource-poor areas for HIV-positive mothers. Flash heating can be accomplished on the stovetop or other direct heat source. Flash heating has
        been demonstrated to kill HIV, but its effect on other viruses is theoretical. Due to its relatively lower exposure time, this method has been demonstrated to preserve more of the milk's nutritive qualities than the LTLT methods.
        <br>
        <br>

        <strong>Spore Forming Bacteria</strong>
        <br>
        <br> It is important to note is that any pasteurizing of breast milk raises the risk of spore release from spore-forming bacteria, like Bacillus cereus (B. cereus). While B. cereus is less of a concern for healthy-term babies, it can pose a significant
        risk to premature babies or those with gastrointestinal issues. This makes a good case for using raw milk from a thoroughly screened donor, and raw milk should also be taken into consideration for feeding premature or sick infants.
        <br>
        <br>

        <strong>Raw Milk</strong>
        <br>
        <br> Many families will prefer to use raw, unpasteurized milk so that their babies receive milk with greatest nutritional value. In the case of using raw donor milk, it is imperative for the recipient-donor relationship to be well established and/or
        for the donor to be thoroughly and recently screened. If this is not the case, the recipient may choose to pasteurize the milk.</p>
      <br>
      <br>
      <img src="/pictures/pasteurize_table.png" />
      <br>
      <br>
      <br>
      <h4 class='text-center'>For more information, please visit <a href="http://www.eatsonfeets.org/#fourPillars">Eats on Feets</a></h4>
      
    </div>
  </div>

</div>
