<div class="row signup">

  <div class="col-md-6">

    <div class="row">
      <div class="col-md-11">
        <h3>Log In:</h3>
        <form action="/login" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder='Email'>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder='Password'>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label class="rememberMe">
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-4 text-right">
              <button type="submit" class="btn btn-default">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11">
        <h4 class="text-center">or</h4>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-primary">Log in with Facebook</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="row leftborder">
      <div class="col-md-offset-1 col-md-11">
        <h3>Sign Up:</h3>
        {{#if errors}}
          <h6>{{errors}}</h6>
        {{/if}}
        <form action="/signupSubmit" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="Email2" placeholder='Email'>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="Password2" placeholder='Password'>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="Password2Confirm" placeholder='Confirm Password'>
          </div>
          <div class="row">
            <div class="col-md-offset-8 col-md-4">
              <button type="submit" class="btn btn-default">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
