<div class="row signup">

  {{#if loginErrors}}
  <h3 class='text-center'>{{loginErrors}}</h3>
  {{/if}}
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-11">
        <h3>Log In:</h3>
        <form action="/login" method="post">
          <div class="control-group">
            <input type="email" class="form-control" name="email" placeholder='Email'>
          </div><br>
          <div class="control-group">
            <input type="password" class="form-control" name="password" minlength='8' data-validation-minlength-message='Needs to be at least 8 characters long!' placeholder='Password'>
            <p class="help-block"></p>
          </div><br>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label class="rememberMe">
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-4 text-right">
              <button type="submit" class="btn btn-default">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11">
        <h4 class="text-center">or</h4>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-primary">Log in with Facebook</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="row leftborder">
      <div class="col-md-offset-1 col-md-11">
        <h3>Sign Up:</h3>
        <form action="/signupSubmit" method="post" class='signupForm'>
          <div class="control-group">
            <input id='emailLogin' type="text" class="form-control" name="Email2" placeholder='Email'>
          </div><br>
          <div class="control-group">
            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,30}$" class="form-control" name="Password2" minlength='8' placeholder='Password'>
            <div class="help-block">Minimum of 8 characters with at least 1 number and uppercase letter</div>
          </div>
          <div class="control-group">
            <input type="password" class="form-control" name="Password2Confirm" placeholder='Confirm Password' data-validation-match-match='Password2' data-validation-match-message='Needs to match password from above'>
            <p class="help-block"></p>
          </div><br>
          <div class="row">
            <div class="col-md-offset-8 col-md-4">
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
<script>
   $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
