html {
  min-height: 100%;
  position: relative; }

body {
  padding-top: 150px;
  margin-bottom: 200px; }
  @media (max-width: 768px) {
    body {
      padding-top: 50px; } }

.navbar-inverse {
  background-color: #f8f4db;
  border-color: #3a3a3c; }
  .navbar-inverse .navbar-nav {
    float: none;
    width: 665px;
    margin: 50px auto 0 auto; }
  .navbar-inverse img {
    margin-top: -50px;
    height: 100%;
    width: 100px; }
  .navbar-inverse .navbar-nav > li > a {
    color: #a6a93c; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #3a3a3c; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #3a3a3c; }
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #3a3a3c; }
  @media (max-width: 768px) {
    .navbar-inverse .poof {
      display: none; }
    .navbar-inverse .navbar-nav {
      margin: 0;
      width: auto; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color: #a6a93c; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #3a3a3c; }
    .navbar-inverse .dropdown-header {
      color: #3a3a3c; } }

.addposting .backer {
  height: 200px;
  background-color: #e76e7c; }

.addposting .title {
  background-color: #9f2a59;
  color: white;
  padding: 10px 20px 20px 20px;
  margin-top: -150px; }

.addposting .input {
  background-color: #f8f4db;
  padding-top: 30px; }

.allusers img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 350px; }

.allusers .ratings .glyphicon {
  font-size: 22px; }

.allusers .ratings .glyphicon-star {
  color: #41a1f4; }

.map {
  margin-bottom: 15px;}
  .map #map {
    /*position: absolute;*/
    background-size: 350px;
    height: 400px; }
.gif {
  background: transparent url("https://files.slack.com/files-pri/T027GBYPB-F10SADXDZ/loading.gif") no-repeat center center;
  background-size: 350px;
  height: 400px;
  position: absolute;;
  z-index: 1;}
.profile img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 350px; }

.profile .ratings .glyphicon {
  font-size: 22px; }

.profile .ratings .glyphicon-star {
  color: #41a1f4; }

.signup {
  margin-top: 100px; }
  .signup h3 {
    margin-bottom: 50px; }
  .signup .rememberMe {
    font-size: 18px; }
  .signup button {
    width: 100%; }
  .signup .leftborder {
    border-left: 1px solid; }

.postingsnav {
  margin-top: 50px;
  margin-bottom: 15px; }
  .postingsnav span {
    font-size: 30px; }

.b {
  border: 1px solid; }

.dashboard {
  margin-top: 50px; }
  .dashboard img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 400px; }
  .dashboard .ratings .glyphicon {
    font-size: 22px; }
  .dashboard .ratings .glyphicon-star {
    color: #41a1f4; }
  .dashboard .verified {
    font-size: 30px; }
  .dashboard .true {
    color: yellow; }
  .dashboard h2 {
    display: inline-block;
    margin-right: 15px; }

.postings {
  margin-bottom: 20px; }
  .postings .col-md-10 {
    border: 1px solid;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px; }
    .postings .col-md-10 img {
      border-radius: 15px;
      max-width: 100%; }
    .postings .col-md-10 .ratings .glyphicon {
      font-size: 22px;
      margin-top: 15px; }
    .postings .col-md-10 .ratings .glyphicon-star {
      color: #41a1f4; }
    .postings .col-md-10 .verified {
      font-size: 30px; }
    .postings .col-md-10 h3 {
      margin-left: 15px;
      display: inline-block; }
    .postings .col-md-10 .true {
      color: yellow; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: #a6a93c;
  padding: 30px;
  text-align: center; }

.listings .glyphicon {
  color: #41a1f4; }

.listingBox {
  margin-bottom: 50px; }
  .listingBox h2 {
    display: inline-block; }
  .listingBox .orderInfo {
    border: 1px solid black;
    border-radius: 15px; }
    .listingBox .orderInfo h4 {
      padding-left: 20px; }
  .listingBox .requestSubmitButton {
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: lightgrey; }
    .listingBox .requestSubmitButton h3 {
      padding: 8px;
      color: black;
      display: inline-block; }
  .listingBox #requestHomepageButton {
    margin: 25px;
    float: right;
    margin-right: 60px; }

.shadow {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); }

.shadow:hover {
  -ms-transform: scale(1.25);
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  z-index: 2;
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1.02);
  -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1.02);
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(1.02);
  transition: all 300ms ease-in;
  transform: scale(1.02); }

#divLink {
  display: block;
  height: 100%; }
