html {
  min-height: 100%;
  position: relative;
}
body {
  @media (max-width: 768px) {
    padding-top: 50px;
  }
  padding-top: 150px;
  margin-bottom: 200px;
}
.navbar-inverse {
  background-color: rgb(248, 244, 219);
  border-color: rgb(58, 58, 60);
  .navbar-nav {
    float: none;
    width: 665px;
    margin: 50px auto 0 auto;
  }
  img {
    margin-top: -50px;
    height: 100%;
    width: 100px;
  }
  .navbar-nav>li>a {
    color: rgb(166, 169, 60);
  }
  .navbar-nav>li>a:hover {
    color: rgb(58, 58, 60);
  }
  .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover {
    background-color: rgb(58, 58, 60);
  }
  .navbar-nav>li>a:focus {
    color: rgb(58, 58, 60);
  }
  @media (max-width: 768px) {
    .poof {
      display: none;
    }
    .navbar-nav {
      margin: 0;
      width: auto;
    }
    .navbar-nav .open .dropdown-menu>li>a {
      color: rgb(166, 169, 60);
    }
    .navbar-nav .open .dropdown-menu>li>a:hover {
      color: rgb(58, 58, 60);
    }
    .dropdown-header {
      color: rgb(58, 58, 60);
    }
  }
}
.addposting {
  .backer {
    height: 200px;
    background-color: rgb(231, 110, 124);
  }
  .title {
    background-color: rgb(159, 42, 89);
    color: white;
    padding: 10px 20px 20px 20px;
    margin-top: -150px;
  }
  .input {
    background-color: rgb(248, 244, 219);
    padding-top: 30px;
  }
}
.allusers {
  img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 350px;
  }
  .ratings {
    .glyphicon {
      font-size: 22px;
    }
    .glyphicon-star {
      color: #41a1f4;
    }
  }
}
.map {
  margin-bottom: 15px;
  #map {
    background: transparent url("https://files.slack.com/files-pri/T027GBYPB-F10SADXDZ/loading.gif") no-repeat center center;
    background-size: 350px;
    height: 400px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: rgb(166, 169, 60);
  background-color: rgb(248, 244, 219);
  padding: 30px;
  text-align: center;
}
// above styles are pretty much done
.profile {
  img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 350px;
  }
  .ratings {
    .glyphicon {
      font-size: 22px;
    }
    .glyphicon-star {
      color: #41a1f4;
    }
  }
}
.signup {
  margin-top: 100px;
  h3 {
    margin-bottom: 50px;
  }
  .rememberMe {
    font-size: 18px;
  }
  button {
    width: 100%;
  }
  .leftborder {
    border-left: 1px solid;
  }
}
.postingsnav {
  margin-top: 50px;
  margin-bottom: 15px;
  span {
    font-size: 30px;
  }
}
.b {
  border: 1px solid;
}
.dashboard {
  margin-top: 50px;
  img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 400px;
  }
  .ratings {
    .glyphicon {
      font-size: 22px;
    }
    .glyphicon-star {
      color: #41a1f4;
    }
  }
  .verified {
    font-size: 30px;
  }
  .true {
    color: yellow;
  }
  h2 {
    display: inline-block;
    margin-right: 15px;
  }
}
.postings {
  margin-bottom: 20px;
  .col-md-10 {
    border: 1px solid;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    img {
      border-radius: 15px;
      max-width: 100%;
    }
    .ratings {
      .glyphicon {
        font-size: 22px;
        margin-top: 15px;
      }
      .glyphicon-star {
        color: #41a1f4;
      }
    }
    .verified {
      font-size: 30px;
    }
    h3 {
      margin-left: 15px;
      display: inline-block;
    }
    .true {
      color: yellow;
    }
  }
}
.listings {
  .glyphicon {
    color: #41a1f4;
  }
}
.listingBox {
  margin-bottom: 50px;
  h2 {
    display: inline-block;
  }
  .orderInfo{
    border: 1px solid black;
    border-radius: 15px;
    h4 {
      padding-left: 20px;
    }
  }
  .requestSubmitButton {
    h3 {
      padding: 8px;
      color: black;
      display: inline-block;
    }
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: lightgrey;
  }
  #requestHomepageButton{
    margin: 25px;
    float: right;
    margin-right: 60px;
  }
}
.shadow {
  // -moz-box-shadow:    3px 3px 5px 6px #ccc;
  // -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  // box-shadow:         3px 3px 5px 6px #ccc;
  // transform: scale(1);
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.shadow:hover {
  -ms-transform: scale(1.25);
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

  z-index: 2;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.02);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 300ms ease-in;
    transform: scale(1.02);
}
#divLink {
  display:block;
  height: 100%;
}
