body {
  padding-top: 50px;
}
.secondary_nav {
  padding-top: 15px;
}
.map {
  margin-bottom: 15px;
  img {
    width: 100%;
    height: 300px;
  }
}
.profile {
  margin-bottom: 15px;
  margin-top: 15px;
}
.listing {
  margin-bottom: 15px;
  .col-md-10 {
    border: 1px solid;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    img {
      border-radius: 15px;
      max-width: 100%;
    }
    .verified {
      font-size: 30px;
    }
    .true {
      color: yellow;
    }
  }
}
#footer {
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  color: white;
  background-color: rgb(45, 45, 45);
  height: 400px;
  margin-top: 100px;
}
.custom {
  width: 230px;
}
.space {
  height: 150px;
  width: 100%;
}
.loginBox {
  border-left: 2px solid black;
}
.signupButton {
  margin-left: 29%;
}
.rememberMe {
  font-size: 18px;
}
.text {
  text-align: center;
}
.face {
  width: 80%;
}
.facebookLoginButton {
  padding-left: 10%;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('/pictures/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('/pictures/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
// path {
//   fill: blue;
// }
